* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  color: #000;
}

li {
  list-style-type: none;
}

* img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 23.71px;
  margin: 0;
  background: none;
  border: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.features__text, .about-slider__title, .about-slider__pre-title, .text-block__pre-title, .text-content__pre-title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.card__title, .features__title, .text-block__title, .text-content__title {
  font-family: "Ultra";
  font-style: normal;
  font-weight: 400;
}

.about-slider-down, .about-slider-up {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  background-color: #171b1b;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.features__text, .about-slider__title, .about-slider__pre-title, .text-block__pre-title, .text-content__pre-title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.card__title, .features__title, .text-block__title, .text-content__title {
  font-family: "Ultra";
  font-style: normal;
  font-weight: 400;
}

.about-slider-down, .about-slider-up {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  background-color: #171b1b;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

body {
  overflow: auto;
}
body.lock {
  overflow: hidden;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: clamp(0.5rem, 0.054rem + 1.19vw, 1.125rem) 0 11px 0;
}
.header__navigation {
  display: flex;
  align-items: center;
  gap: clamp(0.938rem, -2.625rem + 9.5vw, 4.5rem);
}
.header__image {
  width: 106px;
  height: 48px;
}
.header__nav {
  display: flex;
}
@media (max-width: 600px) {
  .header__nav {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: #fbb65f;
    transition: all 0.2s ease;
    overflow: auto;
    z-index: 10;
  }
}
.header__nav.active {
  left: 0;
}
.header__list {
  display: flex;
  flex-direction: row;
  gap: 60px;
  margin-bottom: 12px;
}
@media (max-width: 600px) {
  .header__list {
    margin: auto;
    flex-direction: column;
    gap: 0;
  }
}
.header__item {
  display: flex;
}
@media (max-width: 600px) {
  .header__link {
    display: block;
    font-size: 30px;
    line-height: 150px;
  }
}
.header__buttons {
  margin-bottom: 13px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__button {
  padding: 11px 40.5px;
  background-color: #000;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.295743);
  border-radius: 2px;
}
@media (max-width: 600px) {
  .header__button {
    padding: 6px 35.5px;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 600px) {
  .header__burger {
    display: block;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 10;
    cursor: pointer;
  }
  .header__burger span {
    width: 100%;
    height: 2px;
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    background-color: #000;
    transition: all 0.2s;
  }
  .header__burger span:first-child {
    top: 0;
  }
  .header__burger span:last-child {
    top: auto;
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .header__burger.active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.hero {
  display: flex;
  justify-content: space-between;
  background-color: rgba(231, 212, 190, 0.44);
}
@media (max-width: 1000px) {
  .hero {
    flex-direction: column;
  }
}
.hero__content {
  position: relative;
  top: 0;
  left: 0;
}
.hero__content-wheat {
  width: 133.99px;
  height: 276.12px;
  position: absolute;
  top: 7px;
  left: 0;
}
.hero__person {
  width: 50%;
  max-height: 791px;
}
@media (max-width: 1000px) {
  .hero__person {
    display: none;
  }
}
@media (max-width: 500px) {
  .hero__person {
    display: block;
    width: 100%;
    padding: 0 15px;
  }
}

.text-content {
  margin: clamp(5.375rem, -18.375rem + 38vw, 10.125rem) 0 0 clamp(2.5rem, -27.188rem + 47.5vw, 8.438rem);
  max-width: 470px;
  position: relative;
  top: 0;
  left: 0;
}
@media (max-width: 1000px) {
  .text-content {
    margin: 40px auto;
    max-width: 635px;
    padding: 0 15px;
  }
}
.text-content__image {
  width: 64.56px;
  height: 56.17px;
  position: absolute;
  top: 12px;
  right: 141.36px;
}
@media (max-width: 570px) {
  .text-content__image {
    display: none;
  }
}
.text-content__pre-title {
  color: #000;
  margin-bottom: 21px;
}
@media (max-width: 700px) {
  .text-content__pre-title {
    font-size: clamp(0.688rem, 0.392rem + 1.39vw, 1rem);
    margin-bottom: clamp(0.438rem, -0.389rem + 3.89vw, 1.313rem);
  }
}
.text-content__title {
  font-size: clamp(2.5rem, 0.611rem + 8.89vw, 4.5rem);
  line-height: clamp(3.563rem, 2.205rem + 6.39vw, 5rem);
  color: #000;
  margin-bottom: 27px;
}
@media (max-width: 700px) {
  .text-content__title {
    margin-bottom: clamp(1.25rem, 0.837rem + 1.94vw, 1.688rem);
  }
}
.text-content__text {
  font-size: clamp(0.875rem, 0.521rem + 1.67vw, 1.25rem);
}

.about__container {
  padding-top: clamp(3.125rem, 0.429rem + 12.76vw, 10rem);
  display: flex;
  gap: 22px;
  padding-bottom: 234px;
}
@media (max-width: 997px) {
  .about__container {
    flex-direction: column-reverse;
  }
}
.about__image-block {
  width: 100%;
  max-width: 580px;
  position: relative;
  top: 0;
  left: 0;
}
@media (max-width: 997px) {
  .about__image-block {
    margin: 0 auto;
  }
}
.about__image-block-background {
  width: clamp(21.063rem, 16.774rem + 20.3vw, 32rem);
  height: clamp(21.875rem, 17.733rem + 19.61vw, 32.438rem);
  position: absolute;
  top: clamp(5.625rem, -6.25rem + 19vw, 8rem);
  left: 21px;
  z-index: 1;
}
.about__image-block-dots {
  width: 154px;
  height: 134px;
  position: absolute;
  top: 85px;
  left: 380px;
  z-index: 2;
}
@media (max-width: 1000px) {
  .about__image-block-dots {
    display: none;
  }
}
.about__image-block-bread {
  width: clamp(13.188rem, 9.291rem + 18.45vw, 23.125rem);
  height: clamp(13.125rem, 10.821rem + 10.9vw, 19rem);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.about__image-block-breads {
  width: clamp(15rem, 11.079rem + 18.56vw, 25rem);
  height: clamp(15rem, 11.079rem + 18.56vw, 25rem);
  position: absolute;
  top: clamp(9.75rem, 8.084rem + 7.89vw, 14rem);
  left: 70px;
  z-index: 3;
}
.about__text-block {
  max-width: 570px;
  margin-top: -6px;
}
@media (max-width: 997px) {
  .about__text-block {
    margin: 0 auto;
  }
}

.text-block__pre-title {
  color: #171b1b;
  margin-bottom: 18px;
}
.text-block__title {
  font-size: 56px;
  line-height: 64px;
  color: #171b1b;
  margin-bottom: 56px;
}
.about-slider__body {
  display: flex;
}
.about-slider__buttons {
  margin-top: 55px;
  margin-right: 52px;
}
.about-slider__buttons img {
  width: 10px;
  height: 14px;
}
.about-slider__text-content {
  max-width: 400px;
}
.about-slider__pre-title {
  color: #171b1b;
  letter-spacing: 3px;
  margin-bottom: 12px;
}
.about-slider__title {
  color: #171b1b;
  font-size: 24px;
  margin-bottom: 22px;
}
.about-slider__text {
  color: rgba(51, 51, 51, 0.496405);
  margin-bottom: 35px;
}
.about-slider__list {
  color: #171b1b;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.about-slider-up {
  margin-bottom: 8px;
}

.features__text {
  color: #171b1b;
  text-align: center;
  margin-bottom: 18px;
  letter-spacing: 3px;
}
.features__title {
  font-size: 56px;
  line-height: 64px;
  color: #171b1b;
  text-align: center;
  margin-bottom: 69px;
}
.features__card {
  display: flex;
  width: 1170px;
  height: 416px;
}

.card {
  margin-bottom: 176px;
}
.card__fresh {
  width: 400px;
  height: 384px;
  padding: 56px 30px 48px 64px;
}
.card__icon-coffee {
  width: 102px;
  height: 87px;
  margin-bottom: 48px;
}
.card__icon-cake {
  width: 91px;
  height: 96px;
  margin-bottom: 43px;
}
.card__icon-batter {
  width: 102px;
  height: 86px;
  margin-bottom: 32px;
}
.card__title {
  font-size: 40px;
  line-height: 48px;
  color: #171b1b;
  margin-bottom: 18px;
}
.card__text {
  color: rgba(51, 51, 51, 0.496405);
}
.card__natural {
  width: 370px;
  height: 384px;
  padding: 51px 32px 48px;
}
.card__tasty {
  width: 400px;
  height: 416px;
  position: relative;
  top: 0;
  right: 0;
  padding: 72px 32px 64px 62px;
  background-color: #fbb65f;
}
.card__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 179px;
  height: 186px;
}

/*# sourceMappingURL=style.css.map */
