%oswald-font {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;

    letter-spacing: 3px;
    text-transform: uppercase;
}

%ultra-font {
    font-family: 'Ultra';
    font-style: normal;
    font-weight: 400;
}

%slider-button {
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    background-color: $primary;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}
